.flash
  - if flash
    = flash[:alert]
.header
  = render partial: "layouts/header"
.center
  = render partial: "layouts/center"
.contents 
  = render partial: "layouts/side"
  .box
    = render partial: "layouts/mypage"
    .section
      .section__mypage-content__tab-container-notification
      %ul.mypage__content__tabs
        %li.mypage__content__tabs__active
          %h3.mypage__content__tabs__head
            = link_to "お知らせ", "/users"
        %li.mypage__content__tabs__nonactive
          %h3
            = link_to "やることリスト", "/users", class: "mypage__content__tabs__head"
    .tab
      %ul.tab__item
        %li.tab__item__not
        お知らせの商品がありません
    .section
      .section__mypage-content__tab-container-notification
      %ul.mypage__content__tabs
        %li.mypage__content__tabs__active
          %h3.mypage__content__tabs__head
            = link_to "取引中", "/users"
        %li.mypage__content__tabs__nonactive
          %h3
            = link_to "過去の取引", "/users", class: "mypage__content__tabs__head"
    .tab
      %ul.tab__item
        %li.tab__item__not
        取引中の商品がありません
.body__center__download
  = render partial: "layouts/image"
.footer
  = render partial: "layouts/footer"