.header
  = render partial: "layouts/header"
.center
  = render partial: "layouts/center"
.contents 
  = render partial: "layouts/side"
  .box
    = render partial: "layouts/mypage"
    .section
      .section__mypage-content__tab-container-notification
        .content
          .card
            .card__title
              クレジットカード情報
            .card__form
              .card__form__num
                .explan
                  カード番号
                  %span.red
                    必須
                .card__form__num__text
                  = "**** **** **** " + @default_card_information.last4
                %ul.card__form__num__logo
                  %li
                    = image_tag '//pcweb-assets.mercdn.net/assets/img/card/visa.svg?1536441709', class: 'hoge_visa'
                  %li
                    = image_tag '//pcweb-assets.mercdn.net/assets/img/card/master-card.svg?1536441709', class: 'hoge'
                  %li
                    = image_tag '//pcweb-assets.mercdn.net/assets/img/card/saison-card.svg?1536441709', class: 'hoge'
                  %li
                    = image_tag '//pcweb-assets.mercdn.net/assets/img/card/jcb.svg?1536441709', class: 'hoge'
                  %li
                    = image_tag '//pcweb-assets.mercdn.net/assets/img/card/american_express.svg?1536441709', class: 'hoge'
                  %li
                    = image_tag '//pcweb-assets.mercdn.net/assets/img/card/dinersclub.svg?1536441709', class: 'hoge'
                  %li
                    = image_tag '//pcweb-assets.mercdn.net/assets/img/card/discover.svg?1536441709', class: 'hoge'
              .card__form__limit
                .explan
                  有効期限
                  %span.red
                    必須
                .card__form__limit__time
                  月/ 
                  = @default_card_information.exp_month.to_s
                  年/
                  = @default_card_information.exp_year.to_s.slice(2,3)
                .textalign__card
                  .displayflex.margin
                    = form_tag( delete_user_credits_path(current_user.id), method: :post, id: 'charge-form',  name: "inputForm") do
                      %input{ type: "hidden", name: "card_id", value: "" }
                      %button 削除する
        
        
           
            

.body__center__download
  = render partial: "layouts/image"
.footer
  = render partial: "layouts/footer"