.header
  = render partial: "layouts/header"
.center
  = render partial: "layouts/center"
.contents 
  = render partial: "layouts/side"
  .box
    = render partial: "layouts/mypage"
    .section
      .section__mypage-content__tab-container-notification
        .content
          .card
            .card__title
              クレジットカード情報
            .card__form
              .card__form__num
                .explan
                  カード番号
                .card__form__num__text
                  = "**** **** **** " + @default_card_information.last4
                .card__form__num__logo
                  = image_tag @url, alt: '', height: '30', width: '40'
              .card__form__limit
                .explan
                  有効期限
                .card__form__limit__time
                  = @exp_month + " / " + @exp_year
                .textalign__card
                  .displayflex
                    = link_to "削除する", delete_user_credits_path(current_user.id), method: :post, id: 'charge-form',  name: "inputForm", data: {confirm: '本当に削除しますか?' }
.body__center__download
  = render partial: "layouts/image"
.footer
  = render partial: "layouts/footer"