.flash
  - if flash
    = flash[:alert]
.header
  = render partial: "layouts/header"
.center
  = render partial: "layouts/center"
.contents 
  = render partial: "layouts/side"
  .box
    .main
      .main__mypage
        .main__mypage__icon.address
          = link_to "#" do
            %figure
              = image_tag 'https://static.mercdn.net/thumb/members/103058894.jpg?1538909507', alt: '', height: '60', width: '60'
            %h2.mypage__icon__name
              = current_user.nickname
          .mypage__icon__number
            .mypage__icon__number__rate
              評価
              %span.bold
                0
            .mypage__icon__number__display
              出品数
              %span.bold
                1
    .section
      .section__mypage-content__tab-container-notification
        .user
          .address-info
            お届け先住所登録
          .user__form--size
            .user__input__center--size
              = form_for [@address], url: user_addresses_path, class: 'address' do |f|
                .user__input__top
                  名前
                  %span.red
                    必須
                  = f.text_field :family_name, autofocus: true, autocomplete: "family_name", class: "text-field", placeholder: "例) 愛羽"
                  = f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "text-field", placeholder: "例) 江尾"
                .user__input__top
                  名前（カナ）
                  %span.red
                    必須
                  = f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana", class: "text-field", placeholder: "例) アイウ"
                  = f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", class: "text-field", placeholder: "例) エオ"
                .user__input
                  郵便番号
                  %span.red
                    必須
                  = f.text_field :address_number, autofocus: true, autocomplete: "address_number", class: "text-field", placeholder: "例) 0010021"
                .user__input
                  都道府県
                  %span.red
                    必須
                  = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {class: "text-field", include_blank: "選択してください"}
                .user__input
                  市区町村
                  %span.red
                    必須
                  = f.text_field :city, autofocus: true, autocomplete: "city", class: "text-field", placeholder: "例) 横浜市緑区"
                .user__input
                  番地
                  %span.red
                    必須
                  = f.text_field :street_number, autocomplete: "street_number",  class: "text-field", placeholder: "例) 青山1-1-1"
                .user__input
                  建物名
                  %span.gray
                    任意
                  = f.text_field :building_name, autocomplete: "building_name", class: "text-field", placeholder: "例) 柳ビル103"
                .user__input
                  電話
                  %span.gray
                    任意
                  = f.text_field :phone_number, autocomplete: "phone_number",  class: "text-field", placeholder: "例) 110"
                  .user__input__actions
                    = f.submit "新規登録", class: 'submit-btn'
.body__center__download
  = render partial: "layouts/image"
.footer
  = render partial: "layouts/footer"