.footer
  .footer__contents
    .footer__contents__box
      .footer__contents__box__head
        Furima-appについて
      .footer__contents__box__list
        = link_to '会社概要(運営会社)', "#"
      .footer__contents__box__list
        = link_to 'プライバシーポリシー', "#"
      .footer__contents__box__list
        = link_to '利用規約', "#"
      .footer__contents__box__list
        = link_to 'ポイントに関する特約', "#"
    .footer__contents__box
      .footer__contents__box__head
        Furima-appを見る
      .footer__contents__box__list
        = link_to 'カテゴリー 一覧', "#"
      .footer__contents__box__list
        = link_to 'ブランド 一覧', "#"
    .footer__contents__box
      .footer__contents__box__head
        ヘルプ&ガイド
      .footer__contents__box__list
        = link_to 'Furima-app ガイド', "#"
      .footer__contents__box__list
        = link_to 'Furima-app ロゴ利用ガイドライン', "#"
      .footer__contents__box__list
        = link_to 'お知らせ', "#"
  .footer__logo
    ここにロゴを貼り付ければ表示されます。
    %p © Furima-app