.content
  .header
    = link_to "メルカリ", "#"
  .main
    = form_with model: @item, local: true do |f|
      .main__image
        .explan
          出品画像
          %span.red
            必須
        .main__image__text
          最大5枚まで保存できます。
        .main__image__file#js-drag
          #js-file_group
            = f.fields_for :images, @item.images.build do |i|
              .hoge
                = i.label :image, for: 'js-file', class: 'label' do
                  = icon('fas', 'camera', class: 'icon')
                  %span.drop
                    ドラッグアンドドロップ
                    またはクリックしてファイルをアップロード
                  = i.file_field :image, class: 'hidden', id: 'js-file'
      .main__item
        .explan
          商品名
          %span.red
            必須
        .main__item__name
          = f.text_field :name, placeholder: "商品名(40文字まで)", class: 'text'
        .explan
          商品の説明
          %span.red
            必須
        .main__item__info
          = f.text_area :info, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", class: 'text', id: 'count'
        .count
          0/1000
      .main__detail
        .caption
          商品の詳細
        .main__detail__element
          .explan
            カテゴリー
            %span.red
              必須
          .select
            = f.collection_select :category_id, Category.all, :id, :name
          .explan
            ブランド
            %span
              任意
          .select
            = f.fields_for :brand, @item.build_brand do |b|
              = b.text_field :name, placeholder: "例) シャネル", class: 'text'
          .explan
            商品の状態
            %span.red
              必須
          .select
            = f.select :status, ['---','美品', '未使用']
      .main__detail
        .caption
          配送について
        .main__detail__element
          = f.fields_for :shipment, @item.build_shipment do |s|
            .explan
              配送料の負担
              %span.red
                必須
            .select
              = s.select :delivery_burden, ['---','送料込み(出品者負担)', '着払い(購入者負担)']
            .explan
              発送元の地域
              %span.red
                必須
            .select
              = s.collection_select :prefecture_id, Prefecture.all, :id, :name
            .explan
              発送までの日数
              %span.red
                必須
            .select
              = s.select :days, ['---', '1~2日で発送', '2~3日で発送', '4~7日で発送']
      .main__prace
        .caption
          販売価格(300〜9,999,999)
        .main__prace__element
          .main__prace__element__value
            .explan
              販売価格
              %span.red
                必須
            .main__prace__element__value__name
              = f.text_field :value, placeholder: "例) 300", class: 'text', id: 'value'
          .fee
            販売手数料 (10%)
            %span.fee__prev
              ーーー
          .return
            販売利益
            %span.return__prev
              ーーー
      .main__submit
        .explan
          下書き選択
          %span.red
            必須
        .main__submit__select
          = f.select :switch, Item.switches.keys.map { |k| [t("enums.item.switch.#{k}"),k]}
        .main__submit__item
          = f.submit "保存する", class: "item"
        .root
          = link_to "もどる", "#"
      .note
        禁止されている
        = link_to "行為", "#"
        および
        = link_to "出品物", "#"
        を必ずご確認ください。
        = link_to "偽ブランド品", "#"
        や
        = link_to "盗品物", "#"
        などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして
        = link_to "加盟店規約", "#"
        に同意したことになります。
  .footer-new
    = link_to "プライバシーポリシー", "#"
    = link_to "メルカリ利用規約", "#"
    = link_to "特定商取引に関する表記", "#"