%section.item-box-container
  %h1.item-name 
    = @item.name
  .item-photo
    = image_tag @item.images.first.image.url
  .item-image
    %ul.hoge
      - if @item.images.count >= 2
        - @item.images.each do |image|
          %li
            = image_tag image.image.url
  .item-price-box
    %span.item-price
      ¥
      = @item.value
    %span.item-tax
      (税込み)
    %span.item-shipping-fee
      送料込み
  .item-discription
    %p.item-discription-inner
      商品説明
      %br
      = @item.info
    %table.item-detail-table
      %tbody
        %tr
          %th
            出品者
          %td
            = @item.user.nickname 
        %tr            
          %th
            カテゴリー
          %td
            = @item.category.name
        %tr            
          %th
            ブランド
          %td
            = @item.brand.name
          %div      
        %tr            
          %th
            商品の状態
          %td
            - if @item.status == "clean"
              新品
            - elsif @item.status == "beauty"
              美品
            - else
              汚い
        %tr            
          %th
            配送料の負担
          %td
            - if @item.shipment.delivery_burden == "my"
              送料込み（出品者負担）
            - else
              着払い（購入者負担）
  .optional-area
    .optional-btn-left
      = icon('fa', 'star')
      お気に入り 0
    .optional
      .optional-btn-right
        = link_to "不適切な商品の通報", "#"
  - if user_signed_in?
    - if current_user.id == @item.user_id
      .my-item
        = link_to "編集", "#", class: "item-edit-btn"
        = link_to "削除", "#", class: "item-delete-btn"
    - else
      = link_to "購入画面に進む", "#", class: "item-buy-btn"
  - else
    .no-acount
      購入するにはアカウントが必要です。
.new-comment
  %textarea.comment(name="")
  %p.notice-msg
    相手のことを考え丁寧なコメントを心がけましょう。
    %br
      不快な言葉遣いなどは利用制限や退会処分となることがあります。
  %button.comment-btn
    %i
      コメントする

.links 
  = link_to "前の商品", "#"
  = link_to "後ろの商品", "#"
.related-items
  = link_to "ベビー・キッズをもっと見る", "#"