.header
  = render partial: "layouts/header"
.center
  = render partial: "layouts/center"
.contents 
  = render partial: "layouts/side"
  .box
    = render partial: "layouts/mypage"
    .section
      .section__mypage-content__tab-container-notification
      - if User.find(current_user.id).card.present?
        .content
          .card
            .card__title
              クレジットカード情報
            .card__form
              .card__form__num
                .explan
                  カード番号
                  %span.red
                    必須
                .card__form__num__text
                  = @card.number
                %ul.card__form__num__logo
                  %li
                    = image_tag '//pcweb-assets.mercdn.net/assets/img/card/visa.svg?1536441709', class: 'hoge_visa'
                  %li
                    = image_tag '//pcweb-assets.mercdn.net/assets/img/card/master-card.svg?1536441709', class: 'hoge'
                  %li
                    = image_tag '//pcweb-assets.mercdn.net/assets/img/card/saison-card.svg?1536441709', class: 'hoge'
                  %li
                    = image_tag '//pcweb-assets.mercdn.net/assets/img/card/jcb.svg?1536441709', class: 'hoge'
                  %li
                    = image_tag '//pcweb-assets.mercdn.net/assets/img/card/american_express.svg?1536441709', class: 'hoge'
                  %li
                    = image_tag '//pcweb-assets.mercdn.net/assets/img/card/dinersclub.svg?1536441709', class: 'hoge'
                  %li
                    = image_tag '//pcweb-assets.mercdn.net/assets/img/card/discover.svg?1536441709', class: 'hoge'
              .card__form__limit
                .explan
                  有効期限
                  %span.red
                    必須
                .card__form__limit__time
                  月/ 
                  = @card.month
                  年/
                  = @card.year
              .card__form__sequrity
                .explan
                  セキュリティコード
                  %span.red
                    必須
                .card__form__sequrity__cord
                  = @card.code
              .card__form__sequrity
                .explan
                  名前
                  %span.red
                    必須
                .card__form__sequrity__cord.edit-destroy
                  = @card.name
                .textalign__card
                  .displayflex.margin
                    = link_to("カード編集", edit_user_card_path(current_user.id, @card))
                  .displayflex
                    = link_to("カード削除", user_card_path(current_user.id, @card), method: :delete, data: {confirm: '本当に削除しますか?' })
      - else
        .cardregister
          .cardregister__title
            支払い方法
          .cardregister__link
            = link_to("カード登録", new_user_card_path)
        
           
            

.body__center__download
  = render partial: "layouts/image"
.footer
  = render partial: "layouts/footer"