.content
  .header-new
    = render partial: "layouts/new-header"
  .flash
    - if flash
      = flash[:alert]
  .card
    .card__title
      クレジットカード情報入力
    .card__form
      = form_tag(user_cards_path, method: :post, id: 'charge-form',  name: "inputForm") do
        .card__form__num
          .explan
            カード番号
            %span.red
              必須
          .card__form__num__text
            = text_field_tag "number", "", class: "number", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
          %ul.card__form__num__logo
            %li
              = image_tag '//pcweb-assets.mercdn.net/assets/img/card/visa.svg?1536441709', class: 'hoge_visa'
            %li
              = image_tag '//pcweb-assets.mercdn.net/assets/img/card/master-card.svg?1536441709', class: 'hoge'
            %li
              = image_tag '//pcweb-assets.mercdn.net/assets/img/card/saison-card.svg?1536441709', class: 'hoge'
            %li
              = image_tag '//pcweb-assets.mercdn.net/assets/img/card/jcb.svg?1536441709', class: 'hoge'
            %li
              = image_tag '//pcweb-assets.mercdn.net/assets/img/card/american_express.svg?1536441709', class: 'hoge'
            %li
              = image_tag '//pcweb-assets.mercdn.net/assets/img/card/dinersclub.svg?1536441709', class: 'hoge'
            %li
              = image_tag '//pcweb-assets.mercdn.net/assets/img/card/discover.svg?1536441709', class: 'hoge'
        .card__form__limit
          .explan
            有効期限
            %span.red
              必須
          .card__form__limit__time
            %select#exp_month{name: "month", type: "text"}
              %option{value: ""} --
              %option{value: "1"}1
              %option{value: "2"}2
              %option{value: "3"}3
              %option{value: "4"}4
              %option{value: "5"}5
              %option{value: "6"}6
              %option{value: "7"}7
              %option{value: "8"}8
              %option{value: "9"}9
              %option{value: "10"}10
              %option{value: "11"}11
              %option{value: "12"}12
            %span 月/
            %select#exp_year{name: "year", type: "text"}
              %option{value: ""} --
              %option{value: "2019"}19
              %option{value: "2020"}20
              %option{value: "2021"}21
              %option{value: "2022"}22
              %option{value: "2023"}23
              %option{value: "2024"}24
              %option{value: "2025"}25
              %option{value: "2026"}26
              %option{value: "2027"}27
              %option{value: "2028"}28
              %option{value: "2029"}29
            %span 年
        .card__form__sequrity
          .explan
            セキュリティコード
            %span.red
              必須
          .card__form__sequrity__cord
            = text_field_tag "code", "", class: "cvc", placeholder: "カード背面3~4桁の番号", minimumlength: "3", maxlength: "4", id: "cvc"
          .text
            = link_to "カード裏面の番号とは？", "#"
            #card_token
        .card__form__sequrity
          .explan
            名前
            %span.red
              必須
          .card__form__sequrity__cord
            = text_field_tag "name", "", class: "cvc", placeholder: "EO AIU", id: "cvc"
        .card__form__submit
          = submit_tag "追加する", id: "token_submit"
  .footer-new
    = render partial: "layouts/new-footer"