- if Favorite.find_by(user_id: current_user.id, item_id: item.id)
  = link_to item_favorite_path(item.id, current_user.id), method: :delete, class: "like-delete", remote: true do
    = icon('fa', 'star')
    お気に入り追加済み
    = item.favorites.length
- else
  = link_to item_favorites_path(item.id), method: :post, class: "like-create", remote: true do
    = icon('fa', 'star')
    お気に入り
    = item.favorites.length