.header__main
  .header__main__title
    = link_to root_path do
      = image_tag 'logo.png', alt: '', height: '80', width: '300'
  .header__main__form
    = form_with(url: items_searches_path, local: true, method: :get, class: "search-form") do |f|
      .form
        .form__field
          = f.text_field :keyword, placeholder: "キーワードで検索", class: "hoge"
        .form__button
          %button{type: "submit", class:'search-btn'}
            = icon('fa', 'search')