.footer-new__link
  = link_to "プライバシーポリシー", "#"
  = link_to "フリマ利用規約", "#"
  = link_to "特定商取引に関する表記", "#"
.footer-new__image
  = link_to root_path do
    = image_tag 'logo-white.png', alt: '', height: '100', width: '400'
    %p © Furima-app