.side
  .side__mypage
    %ul.side__mypage__nav__list
      %li
        = link_to("マイページ", "#", class: "side__mypage__nav__list__item")
        %i.icon-arrow-right
      %li
        = link_to("お知らせ", "#", class: "side__mypage__nav__list__item")
        %i.icon-arrow-right
      %li
        = link_to("やることリスト", "#", class: "side__mypage__nav__list__item")
        %i.icon-arrow-right
      %li
        = link_to("出品する", "#", class: "side__mypage__nav__list__item")
        %i.icon-arrow-right
      %li
        = link_to("下書き一覧", user_drafts_path(current_user.id), class: "side__mypage__nav__list__item")
        %i.icon-arrow-right
      %li
        = link_to("出品した商品 - 出品中", user_drafts_path(current_user.id), class: "side__mypage__nav__list__item")
        %i.icon-arrow-right
      %li
        = link_to("出品した商品 - 売却済み", user_drafts_path(current_user.id), class: "side__mypage__nav__list__item")
        %i.icon-arrow-right
      %li
        = link_to("購入した商品 - 過去の取引", user_drafts_path(current_user.id), class: "side__mypage__nav__list__item")
        %i.icon-arrow-right
      %li
        = link_to("ニュース一覧", "#", class: "side__mypage__nav__list__item")
        %i.icon-arrow-right
      %li
        = link_to("評価一覧", "#", class: "side__mypage__nav__list__item")
        %i.icon-arrow-right
      %li
        = link_to("ガイド", "#", class: "side__mypage__nav__list__item")
        %i.icon-arrow-right
      %li
        = link_to("お問い合わせ", "#", class: "side__mypage__nav__list__item")
        %i.icon-arrow-right
    %h3.mypage-nav-head メルペイ
    %ul.mypage-nav-list
      %li
        = link_to("売上・振込申請", "#", class: "side__mypage__nav__list__item")
        %i.icon-arrow-right
      %li
        = link_to("ポイント", "#", class: "side__mypage__nav__list__item")
        %i.icon-arrow-right
    %h3.mypage-nav-head 設定
    %ul.mypage-nav-list
      %li
        = link_to("プロフィール", "#", class: "side__mypage__nav__list__item")
        %i.icon-arrow-right
      %li
        = link_to("支払い方法", user_credits_path(current_user.id), class: "side__mypage__nav__list__item", data: {"turbolinks"=>false})
        %i.icon-arrow-right
      %li
        = link_to("発送元・お届け先変更", user_addresses_path(current_user.id), class: "side__mypage__nav__list__item")
        %i.icon-arrow-right
      %li
        = link_to("メールパスワード", "#", class: "side__mypage__nav__list__item")
        %i.icon-arrow-right
      %li
        = link_to("本人情報", "#", class: "side__mypage__nav__list__item")
        %i.icon-arrow-right
      %li
        = link_to("電話番号の確認", "#", class: "side__mypage__nav__list__item")
        %i.icon-arrow-right
      %li
        = link_to("ログアウト", destroy_user_session_path, method: :delete, class: "side__mypage__nav__list__item logout")
        %i.icon-arrow-right